body {
  background-color: #111111;
  color: #ffffff;
}

img {
  width: 120px;
}

.release-card {
  display: flex;
  gap: 50px;
  padding: 25px;
  background-color: #181818;
  border: 1px solid #333;
  border-radius: 16px;
  width: fit-content;
}
